---

- name: create installation directory
  ansible.builtin.file:
    path: "{{ geoip_destination }}"
    state: directory
    owner: "{{ geoip_files.owner | geoip_owner(default='root') }}"
    group: "{{ geoip_files.group | geoip_group(default='root') }}"
    mode: "0750"
  check_mode: false

- name: create GeoIP.conf
  ansible.builtin.template:
    src: GeoIP.conf.j2
    dest: /etc/GeoIP.conf
    owner: root
    group: root
    mode: "0644"

- name: install download helper
  ansible.builtin.copy:
    src: geoip_update.py
    dest: /bin/geoip_update.py
    mode: "0750"

- name: configure systemd
  when:
    - ansible_facts.service_mgr == 'systemd'
    - not running_in_check_mode
  block:

    - name: create geoip run configuration
      become: true
      ansible.builtin.template:
        src: "defaults/geoip_update.j2"
        dest: "{{ geoip_defaults_directory }}/geoip_update"
        force: true
        owner: root
        group: root
        mode: "0640"
      notify:
        - restart geoip-update

    - name: create systemd service unit geoip-update.service
      ansible.builtin.template:
        src: "systemd/geoip-update.service.j2"
        dest: "{{ systemd_lib_directory }}/geoip-update.service"
        owner: root
        group: root
        mode: "0644"
      notify:
        - daemon reload

    - name: create systemd timer unit geoip-update.timer
      ansible.builtin.template:
        src: "systemd/geoip-update.timer.j2"
        dest: "{{ systemd_lib_directory }}/geoip-update.timer"
        owner: root
        group: root
        mode: "0644"
      notify:
        - daemon reload

- name: run download helper
  when:
    - geoip_force is defined
    - geoip_force
    - not running_in_check_mode
  ansible.builtin.command:
    cmd: /bin/geoip_update.py {{ '--legacy' if geoip_legacy else '' }}

...
