#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

[Unit]
Description         = update geoip database.
After               = syslog.target network.target

[Service]
Type                = oneshot

EnvironmentFile     = {{ geoip_defaults_directory }}/geoip_update

WorkingDirectory    = /tmp
User                = root
Group               = root

ExecStart           = /bin/geoip_update.py $OPTIONS

SyslogIdentifier    = geoip-update

[Install]
WantedBy            = multi-user.target
