#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

[Unit]
Description         = update geoip database.

[Service]
Type                = oneshot

WorkingDirectory    = /tmp
User                = root
Group               = root

ExecStart           = /bin/geoip_update.py

[Install]
WantedBy            = multi-user.target
