#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

[Unit]
Description         = update geoip database.

[Timer]
OnBootSec           = 15min
OnUnitInactiveSec   = 48h
Unit                = geoip-update.service

[Install]
WantedBy            = timers.target
