#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

[Unit]
Description         = update geoip database.

[Timer]
OnUnitInactiveSec   = 1w

[Install]
WantedBy            = timers.target
